@{
    Layout = "";
}

@model Services.Models.ChangePassViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>


    <div class="container-fluid text-center">
        <header>
            <img src="~/Images/light.png" onclick="myFunction()" class="float-right mt-2"
                 width="30px" alt="">
        </header>



        <div class="subdiv d-flex justify-content-center align-items-center" style="height:100vh;">

            <div class="content-1 ">


                <div class="h3 mt-3 mb-2">Forget Password</div>

                <form asp-action="ChangePassword"  method="post">

                    <input type="text" asp-for="Email" value="@ViewBag.Email" hidden />
                    <div class="form-floating inputs mb-0">
                        <input type="password" asp-for="Password" class="form-control patient-input" id="floatingPassword"
                               placeholder="Password" >
                        <label for="floatingPassword" class="label">Password</label>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye input-icon" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                    </div>
                    <span  class="text-danger d-block " style="position:relative; bottom:25px; right:60px;"></span>
                    <div class="form-floating inputs mb-0">
                        <input type="password"  class="form-control patient-input" id="floatingPassword"
                               placeholder="ConfirmPassword" >
                        <label for="floatingPassword" class="label">Confirm Password</label>

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eye input-icon" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                        </svg>
                    </div>


                    <button type="submit" class="btn bg-info inputs py-3 h1">Reset</button>
                </form>

            </div>
        </div>

        <div class="fixed-bottom mb-3">
            <footer class="footer ">
                <a href="#" class="text-secondary">Terms of condition</a>
                <span>|</span>
                <a href="#" class="text-secondary">Privacy policy</a>
            </footer>
        </div>

    </div>
    <div class="back-img">
        <img src="~/images/11116016_415.jpg" width="100%" alt="">
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <partial name="_ValidationScriptsPartial" />
</body>


</html>