@model Services.Models.ProfileViewModel

@{
    ViewData["Title"] = "Patient_Profile";
    Layout = "~/Views/Shared/_PatientDashboardLayout.cshtml";
}


<div class="align-items-center justify-content-center pt-5">
    <div class=" mx-auto" style="width:87%">

        <div class="d-flex justify-content-between pt-3">
            <h4 class="">User Profile</h4>
            <a asp-area="" asp-action="Patient_Dashboard" class="btn back-btn border border-info text-info p-2">
                &lt; Back
            </a>

        </div>
        <div class="px-3 pt-4 shadow profile-content mt-3" style="">
            <form asp-action="Editing" method="post">

                <div class="general-info">
                    <div class="h5 mb-4">General Information</div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="FirstName" class="form-control update" id="floatingInput" placeholder="first name" disabled />
                                <label for="floatingInput" class="">First Name</label>
                                <span asp-validation-for="FirstName" class="text-danger profile"></span>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="LastName" class="form-control update" id="floatingInput" placeholder="last name" disabled />
                                <label for="floatingInput" class="">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" asp-for="DOB" class="form-control update" id="floatingInput" max="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="last name" disabled />
                                <label for="floatingInput" class="">Date of Birth</label>
                                <span asp-validation-for="DOB" class="text-danger profile"></span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-info mt-3">
                    <div class="h5 mb-4">Contact Information</div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <select class="form-select update" id="floatingSelect" aria-label="Floating label select example" disabled>
                                    <option selected value="1">Mobile</option>
                                    <option value="0">Telephone</option>
                                </select>
                                <label for="floatingSelect">Type</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating  mb-3">
                                <input type="tel" asp-for="phone" class="form-control pt-3 pb-3 update" id="phone" disabled>
                                <span asp-validation-for="phone" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control update" id="floatingInput"
                                       placeholder="abc@gmail.com" disabled />
                                <label for="floatingInput" class="">Email</label>
                                <span asp-validation-for="Email" class="text-danger profile"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="Loc-info">
                    <div class="h5 mb-4">Location Information</div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Street" class="form-control update" id="floatingInput"
                                       placeholder="street address" disabled />
                                <label for="floatingInput" class="">Street</label>
                                <span asp-validation-for="Street" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="City" class="form-control update" id="floatingInput" placeholder="city" disabled />
                                <label for="floatingInput" class="">City</label>
                                <span asp-validation-for="City" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="State" class="form-control update" id="floatingInput" placeholder="state" disabled />
                                <label for="floatingInput" class="">State</label>
                                <span asp-validation-for="State" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="ZipCode" class="form-control update" id="floatingInput" placeholder="zip codes" disabled />
                                <label for="floatingInput" class="">Zip Code</label>
                                <span asp-validation-for="ZipCode" class="text-danger profile"></span>

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-floating mb-3">
                                <button type="button"
                                        class="btn text-info border-1 border-info p-3">
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Map
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end pt-3 pb-4 mb-5">

                    <button type="button" id="Editbtn" class="btn bg-info text-white d-inline-block border-1 border-info  px-4 py-2 mr-1 edit">Edit</button>
                    <button type="submit" class="btn bg-info text-white rounded-3 d-none fw-bold px-4 h5 modify mr-2">Save</button>
                    <button type="reset" id="cancel" class="btn bg-white text-info border-2 d-none border-info rounded-3 fw-bold h5 modify">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    document.getElementById('Editbtn').addEventListener('click', function () {
        console.log("edit");
        var elements = document.getElementsByClassName('modify');
        var element = document.getElementsByClassName('edit');
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('d-none');
            elements[i].classList.add('d-inline-block');
        }
        for (var i = 0; i < element.length; i++) {
            element[i].classList.remove('d-inline-block');
            element[i].classList.add('d-none');
        }
        for (var i = 0; i < update.length; i++) {
            update[i].removeAttribute('disabled');
        }
    }); 
    document.getElementById('cancel').addEventListener('click', function () {
        var element = document.getElementById('Editbtn');
        var modify = document.getElementsByClassName('modify');
        var update = document.getElementsByClassName('update');
        element.classList.replace('d-none', 'd-inline-block');
        for (var i = 0; i < modify.length; i++) {
            modify[i].classList.replace('d-inline-block', 'd-none');
        }   
        for (var i = 0; i < update.length; i++) {
            update[i].setAttribute('disabled', 'disabled');
            update[i].style.border = '1px solid #ced4da';
        }       
        $(".profile").html('');
    });
</script>

