
@{
    ViewData["Title"] = "Patient_Dashboard";
    Layout = "~/Views/Shared/_PatientDashboardLayout.cshtml";
}

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Create New Request</h5>
                <button type="button" class="btn-close bg-black" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">Here, I want to create mew request for...</p>
                <div class="d-flex justify-content-center gap-2">
                    <a id="button1" onclick="passId(event)" class="btn border border-info text-info  me">Me</a>
                    <a id="button2" onclick="passId(event)" class="btn border border-info text-info someone">Someone One Else</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-info text-white" onclick="redirect()">Continue</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="align-items-center justify-content-center pt-5">
    <div class=" mx-auto" style="width:95%">
        <h4 class="">Medical History</h4>
        <div class=" shadow" style="">

            <button type="button"
                    class="btn text-info d-md-block d-none border-1 border-info float-end my-2 mr-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Create New Request
            </button>      
            <button type="button"
                    class="btn text-info d-md-none d-block border border-info rounded-3 float-end my-2 mr-2 pt-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-plus h3"></i>
            </button>
            <div class="table-responsive" id="tableContent">
            </div>


        </div>

    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    var requestedPage = 1;
    $(document).ready(function () {
        $.ajax({
            url: "/Patient/DashboardData",
            type: "POST",
            data: { "requestedPage": requestedPage },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function changepage(CurrentPage) {
        $.ajax({
            url: "/Patient/DashboardData",
            type: "POST",
            data: { "requestedPage": CurrentPage },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }


    let buttonId = null;

    function passId(event) {
        buttonId = event.target.id;
        var me = document.getElementById('button1');
        var someone = document.getElementById('button2');
        if (buttonId === 'button1') {
            me.classList.add('btn-info', 'text-white');
            me.classList.remove('text-info');
            someone.classList.remove('btn-info');
            someone.classList.add('text-info');
        }
        else if (buttonId === 'button2') {
            someone.classList.add('btn-info', 'text-white');
            someone.classList.remove('text-info');
            me.classList.remove('btn-info');
            me.classList.add('text-info');
        }
    }

    function redirect() {
        if (buttonId === 'button1') {
            location.assign('SubmitInformationMe');
        }
        else if (buttonId === 'button2') {
            location.assign('SubmitInformationSomeone');
        } else {
            // Default redirection if buttonId is not set or unexpected
        }
    }
</script>
@if (TempData["Success"] != null)
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>
}