@model Data.Entity.User

@{
    ViewData["Title"] = "Patient_Profile";
    Layout = "~/Views/Shared/_PatientDashboardLayout.cshtml";
}


<div class="align-items-center justify-content-center pt-5">
    <div class=" mx-auto" style="width:87%">

        <div class="d-flex justify-content-between pt-3">
            <h4 class="">User Profile</h4>
            <a asp-area="" asp-controller="Patient" asp-action="Submit_request_screen" class="btn back-btn border border-info text-info p-2">
                &lt; Back
            </a>

        </div>
        <div class="px-3 pt-4 shadow profile-content mt-3" style="">
            <form asp-action="Editing" method="post">

                <div class="general-info">
                    <div class="h5 mb-4">General Information</div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="FirstName" class="form-control" id="floatingInput" placeholder="first name" disabled />
                                <label for="floatingInput" class="">First Name</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="LastName" class="form-control" id="floatingInput" placeholder="last name" disabled />
                                <label for="floatingInput" class="">Last Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" asp-for="ModifiedDate" class="form-control" id="floatingInput" placeholder="last name" disabled />
                                <label for="floatingInput" class="">Date of Birth</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-info mt-3">
                    <div class="h5 mb-4">Contact Information</div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" disabled>
                                    <option selected>Mobile</option>
                                    <option value="1">Telephone</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="floatingSelect">Type</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating  mb-3">
                                <input type="tel" asp-for="Mobile" class="form-control pt-3 pb-3" id="phone" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Email" class="form-control" id="floatingInput"
                                       placeholder="abc@gmail.com" disabled />
                                <label for="floatingInput" class="">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Loc-info">
                    <div class="h5 mb-4">Location Information</div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Street" class="form-control" id="floatingInput"
                                       placeholder="street address" disabled />
                                <label for="floatingInput" class="">Street</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="City" class="form-control" id="floatingInput" placeholder="city" disabled />
                                <label for="floatingInput" class="">City</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="State" class="form-control" id="floatingInput" placeholder="state" disabled />
                                <label for="floatingInput" class="">State</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="ZipCode" class="form-control" id="floatingInput" placeholder="zip codes" disabled />
                                <label for="floatingInput" class="">Zip Code</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-floating mb-3">
                                <button type="button"
                                        class="btn text-info border-1 border-info p-3">
                                    <i class="bi bi-geo-alt-fill"></i>
                                    Map
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end pt-3 pb-4 mb-5">

                    <button type="button" id="editButton" class="btn bg-info text-white border-1 border-info  px-4 py-2 mr-1">Edit</button>
                    <button type="submit" id="saveButton" class="btn bg-info text-white border-1 border-info px-3 py-1 mr-2">Submit</button>
                    @* <button type="button" id="cancelButton" class="btn  text-info border-1 border-info px-3 py-1">Cancel</button> *@
                </div>
            </form>
        </div>
    </div>
</div>





