@model Services.Models.HouseCallViewModel

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Encounter Form</h5>
                <button type="button" class="btn-close bg-black" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">Encounter form is finalized successfully!</p>
                <div class="d-flex justify-content-center mt-1 mb-3">
                    <a id="button1" class="btn call bg-info text-white rounded-3 fw-bold me">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>