@model Services.Models.ConcludeCareViewModel

@{
    ViewData["Title"] = "ConcludeCase";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Conclude Care</h4>
        <a asp-area="" asp-action="ProviderDashboard" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow Document-content mt-3" style="">

        <div class="pr-3">
            <div class="h6 text-secondary">Patient Name</div>
            <div class="h5 text-info d-inline-block">@* @Model.PatientName *@</div>
        </div>
    </div>


    <div class="py-3 h5 fw-bold">Encounter Forms</div>
    <div class="table-responsive mt-2 d-md-block d-none">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col" style="width:55%">Documents</th>
                    <th class="text-center" scope="col" style="width:15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @*                 @if (Model.Documents!.Count() > 0)
                {
                @foreach (var item in Model.Documents!)
                {
                <tr>
                <td>@item</td>
                <td class="text-center">
                <a href="~/uploads/@item" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2" download="">
                <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                </a>

                </td>
                </tr>
                }
                } *@
            </tbody>
        </table>
    </div>
    <hr />
    <div>Provider Notes</div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Provider Notes"
                      id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2" class="">
                Provider Notes
            </label>
        </div>
    </div>
    <div class="text-end">
        <button type="submit" class="btn bg-info text-white rounded-3 d-none fw-bold px-4 h5 modify">Conclude Care</button>
    </div>


    <br />
    <br />
</div>

<br />
<br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    document.getElementById('editbtn').addEventListener('click', function () {
        console.log("edit");
        var elements = document.getElementsByClassName('modify');
        var element = document.getElementsByClassName('edit');
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('d-none');
            elements[i].classList.add('d-inline-block');
        }
        for (var i = 0; i < element.length; i++) {
            element[i].classList.remove('d-inline-block');
            element[i].classList.add('d-none');
        }
        for (var i = 0; i < update.length; i++) {
            update[i].removeAttribute('disabled');
        }
    });
    document.getElementById('cancel').addEventListener('click', function () {
        var elements = document.getElementsByClassName('modify');
        var element = document.getElementsByClassName('edit');
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('d-inline-block');
            elements[i].classList.add('d-none');
        }
        for (var i = 0; i < element.length; i++) {
            element[i].classList.remove('d-none');
            element[i].classList.add('d-inline-block');
        }
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < update.length; i++) {
            update[i].setAttribute('disabled', 'disabled');
        }
    });
    function CloseCaseRequest(request_id) {
        console.log("cancel");
        $.ajax({
            url: "/Admin/CloseCaseRequest/",
            type: "POST",
            data: { "request_id": request_id },
            dataType: "html",
            success: function (data) {
                console.log("close case")
            },
            error: function () {
                alert("No Projects Found");
                $("#cancelCase").html('An error has occurred');
            }
        });
    };
</script>