body {
    height: 100vh;
}


/*
.dark-mode {
    background-color: black;
    color: white;
}*/

.canvas {
    display: none;
}


[data-bs-theme="dark"] .temp {
    background-color: var(--bs-dark);
    color: white;
}
[data-bs-theme="dark"] .select-region {
    background-color: var(--bs-dark);
    color: white;
}

[data-bs-theme="dark"] .form-floating > .form-control:disabled {
    background-color: #191b1c !important;
}

[data-bs-theme="dark"] .form-floating > .form-select:disabled {
    background-color: #191b1c !important;
}

[data-bs-theme="dark"] .phonetel:disabled {
    background-color: #191b1c !important;
}

.phonetel {
    background: transparent !important;
}

.dark-mode {
    background-color: black;
    color: white;
}
[data-bs-theme="dark"] .phonetel:disabled {
    background-color: #191b1c !important;
}
[data-bs-theme="dark"] .BackTheme, [data-bs-theme="dark"] .iti-mobile, [data-bs-theme="dark"] .modal-body, [data-bs-theme="dark"] .form-control {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

[data-bs-theme="light"] .BackTheme, [data-bs-theme="light"] .iti-mobile {
    background-color: var(--bs-light);
    color: var(--bs-dark);
}
            
@media only screen and (max-width:768px) {
    .canvas {
        display: block;
        position: absolute;
        top: 8px;
        left: 2px;
    }

    .doc-img {
        margin-left: 14%;
    }
}   
@media only screen and (min-width:768px) {
    .canvas-body {
        width: 0;
        display: none;
    }
}

.new {
    background-color: #E9EAEF;
    border: 1px solid rgb(62, 43, 190);
}

.new {
    color: rgb(62, 43, 190);
}

    .new:hover {
        color: white;
    }

    .new:hover {
        background-color: #203f9a;
    }

.newActive {
    background-color: #203f9a;
    color: white;
}

@media only screen and (min-width:991px) {
    .newActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #203f9a transparent transparent transparent;
        transform: translateX(-50%);
    }
}


.pending {
    background-color: #E5F2FA;
    border: 1px solid #47cde7;
}

.pending {
    color: #47cde7;
}

    .pending:hover {
        color: white;
    }

    .pending:hover {
        background-color: #47cde7;
    }

.pendingActive {
    background-color: #47cde7;
    color: white;
}

@media only screen and (min-width:991px) {

    .pendingActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #47cde7 transparent transparent transparent;
        transform: translateX(-50%);
    }
}

.active {
    background-color: #E9F0E8;
    border: 1px solid #628D61;
}

.active {
    color: #628D61;
}

    .active:hover {
        color: white;
    }

    .active:hover {
        background-color: #628D61;
    }

.activeStateActive {
    background-color: #628D61;
    color: white;
}

@media only screen and (min-width:991px) {

    .activeStateActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #628D61 transparent transparent transparent;
        transform: translateX(-50%);
    }
}

.conclude {
    background-color: #F7E6EC;
    border: 1px solid #C184AE;
}

.conclude {
    color: #C184AE;
}

    .conclude:hover {
        color: white;
    }

    .conclude:hover {
        background-color: #e465bc;
    }

.concludeActive {
    background-color: #e465bc;
    color: white;
}

@media only screen and (min-width:991px) {

    .concludeActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #e465bc transparent transparent transparent;
        transform: translateX(-50%);
    }
}

.toclose {
    background-color: #E5F2FA;
    border: 1px solid #479ae7;
}

.toclose {
    color: #479ae7;
}

    .toclose:hover {
        color: white;
    }

    .toclose:hover {
        background-color: #477fe7;
    }

.tocloseActive {
    background-color: #477fe7;
    color: white;
}

@media only screen and (min-width:991px) {

    .tocloseActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #477fe7 transparent transparent transparent;
        transform: translateX(-50%);
    }
}

.unpaid {
    background-color: #E9EAEF;
    border: 1px solid rgb(157, 67, 199);
}

.unpaid {
    color: rgb(157, 67, 199);
}

    .unpaid:hover {
        color: white;
    }

    .unpaid:hover {
        background-color: #ab40dd;
    }

.unpaidActive {
    background-color: #ab40dd;
    color: white;
}

@media only screen and (min-width:991px) {

    .unpaidActive::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 12px;
        border-style: solid;
        border-color: #ab40dd transparent transparent transparent;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width:915px) {
    .link-text {
        display: none;
    }
}

.icons {
    font-size: 20px;
}

@media only screen and (max-width:812px) {
    .icons {
        display: none;
    }
}


.style_1 {
    background-color: rgb(117,201,115);
    color: white;
}

.style_2 {
    background-color: rgb(219,161,36);
    color: white;
}

.style_3 {
    background-color: rgb(239 67 154);
    color: white;
}

.style_4 {
    background-color: rgb(0,172,230);
    color: white;
}


.accordion-button::after {
    content: none;
}


.icn::before {
    border: 2px solid #0dcaf0;
    border-radius: 50%;
    line-height: 1;
    font-size: 13px;
    padding: 3px;
}

.icns::before {
    font-weight: 900 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}


.iti {
    display: inline-block;
    width: 100%;
}       

.iti__country-list {
    max-width: 360px;
    background: transparent !important;
}


.form-floating > .form-control {
    background: transparent;
}


.form-control:focus {
    border-color: #01bce9;
    box-shadow: none;
}

.select-region:focus {
    border-color: #01bce9;
    box-shadow: none;
}

.form-floating > .form-select:focus {
    border-color: #01bce9;
    box-shadow: none;
}

label {
    color: gray;
}

.form-floating > .form-control:focus ~ label {
    color: #01bce9;
}

.form-floating > .form-select:focus ~ label {
    color: #01bce9;
}

.dropdown-toggle::after {
    display: none;
}

.viewCaseBtn {
    border: 2px solid #906cb6;
    background-color: #efeef4;
    color: #906cb6;
    transform: translateY(-20px);
    z-index: 2 !important;
}


.accordion-button {
    z-index: 0 !important;
}

/*Login*/

@media only screen and (max-width:1000px) {

    .mainImage {
        z-index: -1;
        height: 100vh;
        opacity: 0.5;
        filter: blur(2px);
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #subDiv2 {
        position: absolute;
    }
}

.adminSubDivs {
    height: 100vh;
}

.page-active {
    border-radius: 50%;
    background: #17a2b8;
    color: white;
}

    .page-active:hover {
        color: white;
    }


.warn-icon::before {
    border: 3px solid #ffc107;
    padding: 10px;
    border-radius: 50%;
}

.page::before {
    font-size: 20px;
    font-weight: 900 !important;
    margin-top: 2px;
}

.checks {
    height: 20px;
    width: 20px;
}


input[type=radio].radios {
    accent-color: #17a2b8;
}


.data:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.checks:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

#flexSwitchCheckChecked:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.radios {
    height: 20px;
    width: 20px;
}

.input-validation-error {
    border: 1px solid red;
}

.provider-menu{
    font-weight:600;  
}
.provider-menu:hover {
    background-color: rgb(0 229 234 / 15%);
    color: #17a2b8;
    font-weight:600;  
}

.file {
    position: relative;
    overflow: hidden;
}

.selectfile {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.status_0 {
    background-color: #efabd2;
}

.status_1 {
    background-color: #93dc9e;
}