body {
    height: 100vh;
}

.dark-mode {
    background-color: black;
    color: white;
}

.canvas {
    display: none;
}

@media only screen and (max-width:768px) {
    .canvas {
        display: block;
        position: absolute;
        top: 8px;
        left: 2px;
    }

    .doc-img {
        margin-left: 14%;
    }
}

.new {
    background-color: #E9EAEF;
    border: 1px solid rgb(62, 43, 190);
}

.new {
    color: rgb(62, 43, 190);
}

    .new:hover {
        color: white;
    }

    .new:hover {
        background-color: #4f68e2;
    }

.newActive {
    background-color: #4f68e2;
    color: white;
}


.pending {
    background-color: #E5F2FA;
    border: 1px solid #47cde7;
}

.pending {
    color: #47cde7;
}

    .pending:hover {
        color: white;
    }

    .pending:hover {
        background-color: #47cde7;
    }

.pendingActive {
    background-color: #47cde7;
    color: white;
}

.active {
    background-color: #E9F0E8;
    border: 1px solid #628D61;
}

.active {
    color: #628D61;
}

    .active:hover {
        color: white;
    }

    .active:hover {
        background-color: #628D61;
    }

.activeStateActive {
    background-color: #628D61;
    color: white;
}

.conclude {
    background-color: #F7E6EC;
    border: 1px solid #C184AE;
}

.conclude {
    color: #C184AE;
}

    .conclude:hover {
        color: white;
    }

    .conclude:hover {
        background-color: #e465bc;
    }

.concludeActive {
    background-color: #e465bc;
    color: white;
}

.toclose {
    background-color: #E5F2FA;
    border: 1px solid #479ae7;
}

.toclose {
    color: #479ae7;
}

    .toclose:hover {
        color: white;
    }

    .toclose:hover {
        background-color: #477fe7;
    }

.tocloseActive {
    background-color: #477fe7;
    color: white;
}


.unpaid {
    background-color: #E9EAEF;
    border: 1px solid rgb(157, 67, 199);
}

.unpaid {
    color: rgb(157, 67, 199);
}

    .unpaid:hover {
        color: white;
    }

    .unpaid:hover {
        background-color: #ab40dd;
    }

.unpaidActive {
    background-color: #ab40dd;
    color: white;
}

@media only screen and (max-width:915px) {
    .link-text {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .icons {
        display: none;
    }
}


.style_1 {
    background-color: forestgreen;
    color: white;
}

.style_2 {
    background-color: #c7b008;
    color: white;
}

.style_3 {
    background-color: #ec3e95;
    color: white;
}

.style_4 {
    background-color: #0e94f3;
    color: white;
}


.accordion-button::after {
    content: none;
}


.icn::before {
    border: 2px solid #0dcaf0;
    border-radius: 50%;
    line-height: 1;
    font-size: 13px;
    padding: 3px;
}

.icns::before {
    font-weight: 900 !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef !important;
    opacity: 1;
}


.iti {
    display: inline-block;
    width: 100%;
}

.iti__country-list {
    max-width: 360px;
}

.form-floating > .form-control {
    background: transparent;
}


.form-control:focus {
    border-color: #01bce9;
    box-shadow: none;
}

label {
    color: gray;
}

.form-floating > .form-control:focus ~ label {
    color: #01bce9;
}

.dropdown-toggle::after {
    display: none;
}