body {
    /* min-height: 100vh; */
}

.container-fluid {
    /* background: #fafafa; */
}

.main-content {
    border-radius: 1%;
}

.back-btn {
    width: 80px;
}

.submit-btn {
    width: 80px;
}

.cancel-btn {
    width: 80px;
}



.dark-mode {
    background-color: black;
    color: white;
}

/*.footer-content{*/
/* position: absolute; */
/* bottom: 0px; */
/*}*/

.iti {
    display: inline-block;
    width: 100%;
}

.iti__country-list {
    max-width: 360px;
    /* background: transparent; */
}

.form-floating > .form-control {
    background: transparent;
}

#phone {
    /* background: transparent; */
}

.form-control {
    /* border-width: 2px; */
    /* border-color: gray; */
}

    .form-control:focus {
        border-color: #01bce9;
        box-shadow: none;
    }

label {
    color: gray;
}

.form-floating > .form-control:focus ~ label {
    color: #01bce9;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.input-group input[type=file]::-webkit-file-upload-button {
    display: none;
}

.Logout {
    display: none;
}

@media only screen and (max-width:425px) {
    .logout {
        display: none;
    }

    .Logout {
        display: block;
    }
}

.dashboard-content {
    border: 0px solid black;
    border-radius: 10px;
}

.dashboard-content-aco {
    border: 0px solid black;
    border-radius: 10px;
    display: none;
}

@media only screen and (max-width:425px) {
    .dashboard-content {
        display: none;
    }
}

@media only screen and (max-width:425px) {
    .dashboard-content-aco {
        border: 0px solid black;
        border-radius: 10px;
        display: block;
    }
}

.canvas {
    display: none;
}

@media only screen and (max-width:505px) {
    .canvas {
        display: block;
        position: absolute;
        top: 8px;
        left: 2px;
    }

    .canvas-content {
        display: none;
    }

    .doc-img {
        margin-left: 14%;
    }
}

.profile-content {
    border: 0px solid black;
    border-radius: 10px;
}

.Document-content {
    border: 0px solid black;
    border-radius: 10px;
}

.passDisplay {
    display: none;
}

.eye-icon {
    position: relative;
    bottom: 42px;
    left: 94%;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}



.input-validation-error{
    border:1px solid red;
}

