@{
    var claims = User.Identities.ElementAtOrDefault(1)?.Claims;
    var username = claims?.FirstOrDefault(a => a.Type == "userName")?.Value;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />        
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HellocDoc1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    @*     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/HellocDoc1.styles.css" asp-append-version="true" /> *@
</head>
<body class="temp">
    <button class="btn border py-0 canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasWithBackdrop">
        <i class="bi bi-list h2"></i>
    </button>
    <header class="d-flex justify-content-between">
        <div class="ms-5">
            <img src="~/Images/image_2024_01_17T04_17_17_750Z.png" class="doc-img"
                 height="60px"
                 alt="" />
        </div>
        <div class="d-flex gap-3 mr-3 justify-content-center align-items-center">
            <div class="d-flex align-items-center ">
                <span class="d-none d-md-block">
                    Welcome
                    <span class="fw-bold">@username</span>
                </span>
            </div>
            <div>
                <a type="button" asp-action="Logout" class="btn text-info border-1 border-info logout d-none d-md-block">
                    Logout
                </a>
                <a type="button" asp-action="Logout" class="btn text-info border-1 border-info Logout d-block d-md-none">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </div>
            <div>
                <img src="~/Images/light.png" id="darkbtn" onclick="darkMode()" height="40px" alt="" />
            </div>
        </div>
    </header>
    <hr class="my-0 d-none d-md-block" />
    <div class="shadow px-lg-5 px-2 my-2">
        <div class=" h6 d-none d-md-flex gap-4 ">
            @if ((Context.Request.Path.Equals("/Admin/AdminDashboard")) || (Context.Request.Path.StartsWithSegments("/Admin/ViewCase")) || (Context.Request.Path.StartsWithSegments("/Admin/ViewUploads")) || (Context.Request.Path.StartsWithSegments("/Admin/ViewNotes")) || (Context.Request.Path.StartsWithSegments("/Admin/CreateRequest")) || (Context.Request.Path.StartsWithSegments("/Admin/SendOrders")) || (Context.Request.Path.StartsWithSegments("/Admin/EncounterForm")) || (Context.Request.Path.StartsWithSegments("/Admin/CloseCase")))
            {
                <a asp-action="AdminDashboard" class="text-decoration-none text-info px-2" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Dashboard</a>
            }
            else
            {
                <a asp-action="AdminDashboard" class="text-decoration-none px-2" style="color:black;">Dashboard</a>
            }
            @if (Context.Request.Path.Equals("/Admin/ProviderLocation"))
            {
                <a asp-action="ProviderLocation" class="text-decoration-none text-info px-2" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Providers Location</a>
            }
            else
            {
                <a asp-action="ProviderLocation" class="text-decoration-none px-lg-2 px-0" style="color:black;">Providers Location</a>

            }
            @if (Context.Request.Path.Equals("/Admin/AdminProfile"))
            {
                <a asp-action="AdminProfile" class="text-decoration-none text-info px-lg-2 px-0" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">My Profile</a>
            }
            else
            {
                <a asp-action="AdminProfile" class="text-decoration-none px-2" style="color:black;">My Profile</a>

            }
            @if ((Context.Request.Path.Equals("/Admin/Provider")) || (Context.Request.Path.Equals("/Admin/EditPhysician")) || (Context.Request.Path.Equals("/Admin/CreatePhysician")) || (Context.Request.Path.Equals("/Admin/Schedulling")) || (Context.Request.Path.Equals("/Admin/MdOnCall")) || (Context.Request.Path.Equals("/Admin/RequestedShifts")))
            {
                <a asp-action="Provider" class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Providers</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                    <li><a asp-action="Schedulling" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                    <li><a class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                </ul>
            }
            else
            {
                <a class="text-decoration-none px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Providers</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                    <li><a asp-action="Schedulling" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                    <li><a class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                </ul>
            }
            @if ((Context.Request.Path.Equals("/Admin/Vendors")) || (Context.Request.Path.Equals("/Admin/AddBusiness")))
            {
                <a asp-action="Vendors" class="text-decoration-none text-info px-2" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Partners</a>
            }
            else
            {
                <a asp-action="Vendors" class="text-decoration-none px-2" style="color:black;">Partners</a>
            }
            @if ((Context.Request.Path.Equals("/Admin/Access")) || (Context.Request.Path.Equals("/Admin/CreateAccess")) || (Context.Request.Path.Equals("/Admin/UserAccess")) || (Context.Request.Path.Equals("/Admin/CreateAdmin")))
            {
                <a class="text-decoration-none dropdown-toggle text-info px-2" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Access</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="Access" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                    <li><a asp-action="UserAccess" class="text-decoration-none dropdown-item provider-menu  mb-2">User Access</a></li>
                </ul>
            }
            else
            {
                <a class="text-decoration-none px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Access</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="Access" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                    <li><a asp-action="UserAccess" class="text-decoration-none dropdown-item provider-menu  mb-2">User ACcess</a></li>
                </ul>
            }
            @if ((Context.Request.Path.Equals("/Admin/PatientHistory")) || (Context.Request.Path.StartsWithSegments("/Admin/PatientRecords")) || (Context.Request.Path.StartsWithSegments("/Admin/SearchRecords")) || (Context.Request.Path.Equals("/Admin/EmailLogs")) || (Context.Request.Path.Equals("/Admin/SMSLogs")) || (Context.Request.Path.Equals("/Admin/BlockHistory")))
            {
                <a class="text-decoration-none text-info px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 11px;border-bottom: 3px solid #17a2b8!important;">Records</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                    <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu mb-2">Email Logs</a></li>
                    <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                    <li><a asp-action="PatientHistory" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                    <li><a asp-action="BlockHistory" class="text-decoration-none dropdown-item provider-menu">Block History</a></li>
                </ul>
            }
            else
            {
                <a class="text-decoration-none px-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Records</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                    <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                    <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu mb-2">Email Logs</a></li>
                    <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                    <li><a asp-action="PatientHistory" class="text-decoration-none dropdown-item provider-menu  mb-2">Patient Records</a></li>
                    <li><a asp-action="BlockHistory" class="text-decoration-none dropdown-item provider-menu">Block History</a></li>
                </ul>
            }
        </div>
    </div>
    @RenderBody()
    <footer class="bg-dark  text-white d-flex justify-content-end py-2 fixed-bottom mt-4">
        <a href="#" class="text-secondary my-auto"><span class="text-white mr-1">Terms of condition</span></a>
        <span class="my-auto mr-1">|</span>
        <a href="#" class="text-secondary my-auto"><span class="text-white mr-3">Privacy policy</span></a>
    </footer>
    <div class="offcanvas offcanvas-start canvas-body" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasWithBackdropLabel" style="width:215px; margin-top:61px; border-top: 1px solid #d3d0d0;">
        <div class="offcanvas-body px-0" id="offcanvasWithBackdropLabel">
            <div>
                <span>
                    <span class="fw-bold ps-3">Welcome  @username</span>
                </span>
                <div class="d-flex flex-column gap-3 h6 mt-2" style="">

                    @if ((Context.Request.Path.Equals("/Admin/AdminDashboard")) || (Context.Request.Path.StartsWithSegments("/Admin/ViewCase")) || (Context.Request.Path.StartsWithSegments("/Admin/ViewNotes")) || (Context.Request.Path.StartsWithSegments("/Admin/CreateRequest")) || (Context.Request.Path.StartsWithSegments("/Admin/SendOrders")) || (Context.Request.Path.StartsWithSegments("/Admin/EncounterForm")) || (Context.Request.Path.StartsWithSegments("/Admin/CloseCase")))
                    {
                        <a asp-action="AdminDashboard" class="text-decoration-none text-info ps-3 py-2" style="    background: #cef6ff;">Dashboard</a>
                    }
                    else
                    {
                        <a asp-action="AdminDashboard" class="text-decoration-none ps-3" style="color:black;">Dashboard</a>
                    }
                    @if (Context.Request.Path.Equals("/Admin/ProviderLocation"))
                    {
                        <a asp-action="ProviderLocation" class="text-decoration-none text-info ps-3 py-2" style="background: #cef6ff;">Providers Location</a>
                    }
                    else
                    {
                        <a asp-action="ProviderLocation" class="text-decoration-none px-lg-2 ps-3" style="color:black;">Providers Location</a>

                    }
                    @if (Context.Request.Path.Equals("/Admin/AdminProfile"))
                    {
                        <a asp-action="AdminProfile" class="text-decoration-none text-info px-lg-2 ps-3 py-2" style="    background: #cef6ff;">My Profile</a>
                    }
                    else
                    {
                        <a asp-action="AdminProfile" class="text-decoration-none ps-3" style="color:black;">My Profile</a>

                    }
                    @if ((Context.Request.Path.Equals("/Admin/Provider")) || (Context.Request.Path.Equals("/Admin/EditPhysician")) || (Context.Request.Path.Equals("/Admin/CreatePhysician")) || (Context.Request.Path.Equals("/Admin/Schedulling")) || (Context.Request.Path.Equals("/Admin/MdOnCall")) || (Context.Request.Path.Equals("/Admin/RequestedShifts")))
                    {
                        <a asp-action="Provider" class="text-decoration-none text-info ps-3 py-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style=" background: #cef6ff;">Providers</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                            <li><a asp-action="Schedulling" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                            <li><a class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                        </ul>
                    }
                    else
                    {
                        <a class="text-decoration-none ps-3 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Providers</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="Provider" class="text-decoration-none dropdown-item provider-menu mb-2">Providers</a></li>
                            <li><a asp-action="Schedulling" class="text-decoration-none dropdown-item provider-menu  mb-2">Schedulling</a></li>
                            <li><a class="text-decoration-none dropdown-item provider-menu">Invoicing</a></li>
                        </ul>
                    }
                    @if ((Context.Request.Path.Equals("/Admin/Vendors")) || (Context.Request.Path.Equals("/Admin/AddBusiness")))
                    {
                        <a asp-action="Vendors" class="text-decoration-none text-info ps-3 py-2" style=" background: #cef6ff;">Partners</a>
                    }
                    else
                    {
                        <a asp-action="Vendors" class="text-decoration-none ps-3" style="color:black;">Partners</a>
                    }
                    @if ((Context.Request.Path.Equals("/Admin/Access")) || (Context.Request.Path.Equals("/Admin/CreateAccess")) || (Context.Request.Path.Equals("/Admin/UserAccess")))
                    {
                        <a asp-action="Access" class="text-decoration-none dropdown-toggle text-info px-2 py-2" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style=" background: #cef6ff;">Access</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="Access" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                            <li><a asp-action="UserAccess" class="text-decoration-none dropdown-item provider-menu  mb-2">User Access</a></li>
                        </ul>
                    }
                    else
                    {
                        <a class="text-decoration-none ps-3 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Access</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="Access" class="text-decoration-none dropdown-item provider-menu mb-2">Access</a></li>
                            <li><a asp-action="UserAccess" class="text-decoration-none dropdown-item provider-menu  mb-2">User ACcess</a></li>
                        </ul>
                    }
                    @if ((Context.Request.Path.Equals("/Admin/PatientHistory")) || (Context.Request.Path.StartsWithSegments("/Admin/PatientRecords")) || (Context.Request.Path.StartsWithSegments("/Admin/SearchRecords")) || (Context.Request.Path.Equals("/Admin/EmailLogs")) || (Context.Request.Path.Equals("/Admin/SMSLogs")) || (Context.Request.Path.Equals("/Admin/BlockHistory")))
                    {
                        <a class="text-decoration-none text-info ps-3 py-2 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style=" background: #cef6ff;">Records</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                            <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu mb-2">Email Logs</a></li>
                            <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                            <li><a asp-action="PatientHistory" class="text-decoration-none dropdown-item provider-menu mb-2">Patient Records</a></li>
                            <li><a asp-action="BlockHistory" class="text-decoration-none dropdown-item provider-menu">Block History</a></li>
                        </ul>
                    }
                    else
                    {
                        <a class="text-decoration-none ps-3 dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="color:black; cursor:pointer;">Records</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="cursor:pointer;">
                            <li><a asp-action="SearchRecords" class="text-decoration-none dropdown-item provider-menu mb-2">Search Records</a></li>
                            <li><a asp-action="EmailLogs" class="text-decoration-none dropdown-item provider-menu mb-2">Email Logs</a></li>
                            <li><a asp-action="SMSLogs" class="text-decoration-none dropdown-item provider-menu mb-2">SMS Logs</a></li>
                            <li><a asp-action="PatientHistory" class="text-decoration-none dropdown-item provider-menu  mb-2">Patient Records</a></li>
                            <li><a asp-action="BlockHistory" class="text-decoration-none dropdown-item provider-menu">Block History</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
    <script>
        function darkMode() {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                localStorage.setItem("PageTheme", "light");
                document.documentElement.setAttribute('data-bs-theme', 'light')
            }
            else {
                localStorage.setItem("PageTheme", "dark");
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            }
        }
        if (localStorage.getItem("PageTheme") === "light") {
            document.documentElement.setAttribute('data-bs-theme', 'light')
        }
        else {
            document.documentElement.setAttribute('data-bs-theme', 'dark')
        }
    </script>

    <script src="~/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>