@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HellocDoc1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/request.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HellocDoc1.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid p-0">
        <button class="btn border py-0 canvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-list h2"></i>
        </button>


        <header class="d-flex justify-content-between">
            <div class="ms-5 ">
                <img src="~/Images/image_2024_01_17T04_17_17_750Z.png" class="doc-img"
                     height="60px"
                     alt="" />
            </div>
            <div class="d-flex gap-3 mr-3 justify-content-center align-items-center">
                <div class="d-flex align-items-center ">
                    <span class="canvas-content">
                        Welcome
                        <span class="fw-bold">@HttpContextAccessor.HttpContext.Session.GetString("username")</span>
                    </span>
                </div>
                <div>
                    <a type="button" asp-controller="Patient" asp-action="Logout" class="btn text-info border-1 border-info logout">
                        Logout
                    </a>
                    <a type="button" asp-controller="Patient" asp-action="Logout" class="btn text-info border-1 border-info Logout">
                        <i class="bi bi-box-arrow-left"></i>
                    </a>
                </div>
                <div>
                    <img src="~/Images/light.png" onclick="myFunction()" height="40px" alt="" />
                </div>
            </div>
        </header>
        <hr class="my-0" />

        <div class="shadow">

            <div class="mb-3 py-2 mx-auto h5 canvas-content" style="width:95%">
                    
                    <a asp-controller="Patient" asp-action="Patient_Dashboard" class="text-decoration-none text-info mr-3">Dashboard</a>

                    <a asp-controller="Patient" asp-action="Patient_Profile" class="text-decoration-none text-info">Profile</a>

            </div>
        </div>
        <div class="tab-content dashboard" id="pills-tabContent">
        @RenderBody()
        </div>
        <footer class="bg-dark  text-white d-flex justify-content-end py-2 fixed-bottom">
            <a href="#" class="text-secondary my-auto"><span class="text-white mr-1">Terms of condition</span></a>
            <span class="my-auto mr-1">|</span>
            <a href="#" class="text-secondary my-auto"><span class="text-white mr-3">Privacy policy</span></a>
        </footer>
        <div class="offcanvas offcanvas-start canvas-body" tabindex="-1" id="offcanvasExample" style="width:200px" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Profile</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <span>
                        <span class="fw-bold">@HttpContextAccessor.HttpContext.Session.GetString("username")</span>
                    </span>
                    <div class="d-flex flex-column gap-2 h6 mt-2" style="">

                        <a asp-controller="Patient" asp-action="Patient_Dashboard" class="text-decoration-none text-info mr-3">Dashboard</a>

                        <a asp-controller="Patient" asp-action="Patient_Profile" class="text-decoration-none text-info">Profile</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/custom.js"></script>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script> *@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
