@model Services.Models.CancelCaseViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Confirm Cancellation</h5>
                <button type="button" class="btn-close bg-black" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row">

                    <p class="text-secondary mr-1">Patient Name :</p><p class="text-info fw-bold" id="Name">@Model.Name</p>
                </div>
                <div class=" gap-2">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary reason py-1" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled value="">Reason for Cancellation</option>
                            @if (Model.ReasonForCancel != null)
                            {
                                @foreach (var item in Model.ReasonForCancel)
                                {
                                    <option value="@item.CaseId">@item.CaseName</option>
                                }
                            }
                        </select>
                        <label for="floatingSelect"></label>
                        <span id="error" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control cancelNote" placeholder="additional notes"
                                  id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2" class="">
                            Provide Additonal Notes
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn bg-info text-white cancel">Confirm</button>
                <button type="button" id="cancel" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('.reason').on('change', function () {
        $('.reason').css('border', '1px solid #ced4da');
        $('#error').html('');
    });

    $('.cancel').on('click', function (e) {
        var caseId = $('.reason').val();
        console.log(caseId);
        if (caseId == null) {
            $('.reason').css('border', '1px solid red');
            $('#error').html('Please select reason');
        }
        else {
            var cancelNote = $('.cancelNote').val();
            $.ajax({
                url: '/Admin/CancelCase',
                data: { "request_id": '@Model.RequestId', "caseId": caseId, "cancelNote": cancelNote },
                success: function (response) {
                    $("#cancel").click();
                    $('#pills-new-tab').html($(response).find('#pills-new-tab').html());
                    $('#pills-toclose-tab').html($(response).find('#pills-toclose-tab').html());
                    toastr.success('Case Cancel Successfully');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
    });
</script>