@model Services.Models.PhysicianData

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-0 rounded-3">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="staticBackdropLabel">Contact Your Provider</h5>
                <button type="button" class="btn-close bg-black" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-secondary mt-2 mb-4 h6">
                    Choose Communication to send Message
                </div>
                <div class="mb-3">

                    <div class="mb-2 d-flex align-items-center gap-2">
                        <input class="radios" type="radio" name="radios" id="flexRadioDefault1">
                        <label class="mb-0" for="flexRadioDefault1">
                            SMS
                        </label>
                    </div>
                    <div class="mb-2 d-flex align-items-center gap-2">
                        <input class="radios" type="radio" name="radios" id="flexRadioDefault2">
                        <label class="mb-0" for="flexRadioDefault2">
                            Email
                        </label>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input class="radios" type="radio" name="radios" id="flexRadioDefault2">
                        <label class="mb-0" for="flexRadioDefault2">
                            Both
                        </label>
                    </div>
                </div>
                <span id="radiocheck" class="text-danger"></span>
                <div class="form-floating mb-3">
                    <textarea class="form-control message" placeholder="message"
                              id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2" class="">
                        Message
                    </label>
                    <span id="error" class="text-danger"></span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-info text-white sendmsg">Submit</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal" id="cancel">Cancel</button>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $('.message').on('focus', function () {
            $('.message').css('border', '');
            $('#error').html('');
        });
        $(".radios").on('change',function () {
            $('#radiocheck').html('');
        });

        $('.sendmsg').on('click', function (e) {
            var message = $('.message').val();
            console.log(message);
            console.log(message);
            if (message == "") {
                $('.message').css('border', '1px solid red');
                $('#error').html('Please enter message');
            }
            else if ($('input[name="radios"]:checked').length < 1) {
                
                $('#radiocheck').html('Please select communication type');
            }
            else {
                $.ajax({
                    url: '/Admin/SendMessage',
                    data: { "PhysicianId": @Model.physicianId , "message": message},
                    success: function (data) {
                        $("#cancel").click();

                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        });
    });

</script>