@model Services.Models.CreateAccessViewModel

@foreach (var item in Model.Menu)
{
    <div class="d-flex align-items-center">

        <input type="checkbox"  class="checks data mr-2" value="@item.MenuId" />
        <label class="m-0">@item.Name</label>
    </div>
}
