@model Services.Models.SchedullingViewModel


<table class="table table-bordered">
    <thead class="text-white" style="background: #504a4a;">
        <tr>
            <th class="text-center">SUN</th>
            <th class="text-center">MUN</th>
            <th class="text-center">TUE</th>
            <th class="text-center">WED</th>
            <th class="text-center">THU</th>
            <th class="text-center">FRI</th>
            <th class="text-center">SAT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @for (var a = 0; a <= 6; a++)
            {
                <td class="p-0">
                    @foreach (var shifts in Model.ShiftDetailList)
                    {
                        if (shifts.ShiftDate.Date == Model.ShiftDate.Date.AddDays(a))
                        {
                            <button onclick="viewshift(@shifts.ShiftDetailId)" class="dates mb-1 d-flex align-items-center justify-content-center border-0 viewshiftbtn" @* value="@item.ShiftId" *@ style="width:100%;background-color:#efabd2;">
                                @shifts.StartTime.ToString("hh:mm tt")-@shifts.EndTime.ToString("hh:mm tt")
                            </button>
                        }
                    }
                </td>
            }
        </tr>

    </tbody>
</table>