@{
    Layout = "";
}


<table class="table table-secondary">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Requestor</th>
            <th scope="col">Request Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr class="table-light">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
        </tr>

    </tbody>
</table>