@model Services.Models.CreateAccessViewModel

@{
    ViewData["Title"] = "Access";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Create Access</h4>
        <a asp-area="" asp-action="Access" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow mt-3" style="">

        <div class="h5 mb-4">Details</div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="role"
                           placeholder="role" />
                    <label for="role" class="">Role</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" id="accounttype" aria-label="Floating label select example">
                        <option selected value="4">All</option>
                        @foreach (var item in Model.menus)
                        {
                            <option value="@item">@Enum.GetName( typeof(Common.Enum.AccountType), item)</option>
                        }
                    </select>
                    <label for="accounttype">Account Type</label>
                </div>
            </div>

        </div>
        <div class="menudata d-flex flex-wrap gap-3">
        </div>
        <div class="mt-4 text-end">
            <button type="button" onclick="createrole()" id="save" class="btn bg-info text-white rounded-3  fw-bold px-4 h5">Save</button>
            <button type="reset" id="cancel" class="btn bg-white text-info border-2  border-info rounded-3 fw-bold h5">Cancel</button>
        </div>
        <br />
    </div>
</div>

<br />
<br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var accounttype = 0;

    $('#accounttype').on('change', function () {
        accounttype = $(this).val();
        $.ajax({
            url: "/Admin/FilterByAccountType",
            type: "POST",
            data: { "accounttype": accounttype },
            dataType: "html",
            success: function (data) {
                $(".menudata").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    })
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/FilterByAccountType",
            type: "POST",
            data: { "accounttype": accounttype },
            dataType: "html",
            success: function (data) {
                $(".menudata").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });

    var MenuData = [];

    function createrole() {
        $('.data:checked').each(function () {
            MenuData.push($(this).val());
        });
        console.log(MenuData);
        var formdata = {
            RoleName: $('#role').val(),
            AccountType: $('#accounttype').val(),
            MenuData: MenuData,
        }
        console.log(formdata);
        $.ajax({
            url: "/Admin/CreateRole/",
            type: "POST",
            data: formdata,
            dataType: "json",
            async: false,

            success: function (data) {
                console.log("form data")
                window.location.href = "/Admin/Access"
            },
            error: function (error) {
                window.location.href = "/Admin/Access"
                console.log(error);
            }
        });
    };

</script>