@{
    ViewData["Title"] = "PatientHistory";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container-fluid pt-4">
    <div class="d-flex justify-content-between pt-3">
        <div class="h4">Patient History</div>
        <a asp-area="" asp-action="PatientHistory" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class=" pt-4 shadow Document-content mt-3 m-0 mx-md-5" style="">

        <div class="table-responsive mt-2" id="tableContent">

        </div>

        <br />
        <br />
    </div>
</div>

<br />
<br />