@{
    Layout = "";
}


<table class="table table-secondary">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Requestor</th>
            <th scope="col">Physician Name</th>
            <th>Date of Service</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
            <td>Mark</td>
        </tr>

    </tbody>
</table>