@model Services.Models.ProviderViewModel


@{
    ViewData["Title"] = "Provider";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class=" pt-3">
        <h4>Provider Information</h4>

    </div>
    <div class=" pt-4 shadow Document-content mt-3" style="">

        <div class="row pr-3 mb-4 px-3">
            <div class="col-md-8 m-md-0">
                <select class="form-select select-region" id="region" style="width:300px;">
                    <option selected>All Regions</option>
                    @foreach (var item in Model.Regions)
                    {
                        <option value="@item.RegionId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-md-4 col-12 mt-md-0 mt-2 text-lg-end pr-0 pr-3">
                <a asp-action="CreatePhysician" class="btn bg-info text-white  rounded-3 fw-bold">
                    Create Provider Account
                </a>
            </div>
        </div>

        <div class="table-responsive mt-2" id="tableContent">
        </div>

        <br />
        <br />
    </div>
</div>

<br />
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var region = 0;
    var requestedPage = 1;
    $('#region').on('change', function () {
        region = $(this).val();
        Region();
    })

    function changepage(CurrentPage) {
        requestedPage = CurrentPage;
        Region();
    }
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/ProviderMenu",
            type: "POST",
            data: { "region": region, "requestedPage": requestedPage },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function Region() {
        $.ajax({
            url: "/Admin/ProviderMenu",
            type: "POST",
            data: { "region": region, "requestedPage": requestedPage },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }


</script>