@model Services.Models.SchedullingViewModel

@{
    ViewData["Title"] = "Schedulling";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <div class="h4">Schedulling</div>
        <a asp-area="" asp-action="Provider" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="d-flex justify-content-md-between flex-column flex-md-row mt-3">
        <div class="">
            <select class="form-select select-region" id="region" style="width:200px;">
                <option selected value="0">All Regions</option>
                @foreach (var item in Model.RegionList)
                {
                    <option value="@item.RegionId">@item.Name</option>

                }
            </select>
        </div>
        <div class="d-flex gap-2 m-md-0 mt-3">
            <a class="px-3 py-2 bg-info text-white  rounded-3 fw-bold">
                Provider On Call
            </a>
            <a class="px-3 py-2 bg-info text-white  rounded-3 fw-bold">
                Shifts For Review
            </a>
            <a onclick="newshift()" class="px-3 py-2 bg-info text-white  rounded-3 fw-bold" style="cursor:pointer;">
                Add New Shift
            </a>
        </div>
    </div>
    <div class="h6 fw-bold mt-3" id="showDate">
        @DateTime.Now.DayOfWeek,
        @DateTime.Now.Date.ToString("MMM dd yyyy")
    </div>
    <div class="d-flex justify-content-md-between flex-column flex-md-row mt-4">
        <div class="d-flex align-items-center justify-md-content justify-content-center">
            <button type="button" id="prev" class="btn btn-info fw-bold" style="border-radius:25px;"><i class="bi bi-chevron-left fw-bold"></i></button>
            <i class="bi bi-calendar3 mx-2"></i>
            <button type="button" id="next" class="btn btn-info fw-bold" style="border-radius:25px;"><i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="d-flex flex-column m-md-0 mt-3">
            <div class="text-center">
                <button type="button" class="btn px-4 pb-2 pt-3" style="background: #ec7ce5; border-radius:9px;"></button>
                <span>Pending Shifts</span>
                <button type="button" class="btn px-4 pb-2 pt-3" style="background: #93dc9e; border-radius:9px;"></button>
                <span>Active Shifts</span>
            </div>
            <div class="d-flex justify-content-md-end justify-content-center gap-2 mt-3">
                <button type="button" onclick="Day()" id="Day" class="btn btn-info shadow-none">Day</button>
                <button type="button" onclick="Week()" id="Week" class="btn bg-white text-info border-info shadow-none">Week</button>
                <button type="button" onclick="Month()" id="Month" class="btn bg-white text-info border-info shadow-none">Month</button>
            </div>
        </div>
    </div>

    <div class="table table-responsive mt-4" id="tableContent">
    </div>

    <br />
    <br />
    <br />

</div>
<div id="shift"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>

    function newshift() {
        $.ajax({
            url: "/Admin/NewShift/",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#shift").html(data);
                const myModal = new bootstrap.Modal("#staticBackdrop", {});
                myModal.show();
            },
            error: function () {
                alert("No Projects Found");
                $("#shift").html('An error has occurred');
            }
        });
    };

    var region = 0;

    $('#region').on('change', function () {
        region = $(this).val();
        Region();
    })
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/SchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function Region() {
        $.ajax({
            url: "/Admin/SchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);

            },
            error: function (error) {
                console.log(error)
            }   
        });
    }
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/WeekSchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function Region() {
        $.ajax({
            url: "/Admin/WeekSchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);

            },
            error: function (error) {
                console.log(error)
            }
        });
    }
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/SchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);

            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function Day() {
        $.ajax({
            url: "/Admin/SchedullingData",
            type: "POST",
            data: { "region": region },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
        $('#Day').removeClass('bg-white text-info border-info').addClass('btn-info text-white');
        $('#Week').removeClass('btn-info').addClass('bg-white text-info border-info');
        $('#Month').removeClass('btn-info').addClass('bg-white text-info border-info');
    }
    function Week() {
        $.ajax({
            url: "/Admin/WeekSchedullingData",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
        $('#Day').removeClass('btn-info').addClass('bg-white text-info border-info');
        $('#Week').removeClass('bg-white text-info border-info').addClass('btn-info text-white');
        $('#Month').removeClass('btn-info').addClass('bg-white text-info border-info');
    }
    function Month() {
        $.ajax({
            url: "/Admin/MonthSchedullingData",
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
                $('#Day').removeClass('btn-info').addClass('bg-white text-info border-info');
                $('#Week').removeClass('btn-info').addClass('bg-white text-info border-info');
                $('#Month').removeClass('bg-white text-info border-info').addClass('btn-info text-white');
            },
            error: function (error) {
                console.log(error)
            }
        });
    }


</script>