@model Services.Models.SendOrdersViewModel


@{
    ViewData["Title"] = "SendOrders";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Documents</h4>
        <a asp-area="" asp-action="AdminDashboard" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="mt-3 border-0 rounded-3 shadow pt-3 px-3">
        <form asp-action="SendOrderDetails" asp-route-request_id="@Model.RequestId" method="post">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary py-0 profession select-region" id="floatingSelect" aria-label="Floating label select example">
                            <option selected disabled>Select Profession</option>
                            @foreach (var item in Model.HealthProfessions)
                            {
                                <option value="@item.ProfessionId">@item.ProfessionName</option>
                            }
                        </select>
                        <label for="floatingSelect"></label>
                    </div>
                </div>      
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary py-0 Business select-region" id="business" aria-label="Floating label select example">
                            <option selected disabled>Business</option>
                        </select>
                        <label for="business"></label>
                        <span asp-validation-for="VendorId" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="contact"
                               placeholder="business contact" />
                        <label for="contact" class="">Business Contact</label>
                        <span asp-validation-for="Contact" class="text-danger order"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email"
                               placeholder="abc@gmail.com" />
                        <label for="email" class="">Email</label>
                        <span asp-validation-for="Email" class="text-danger order"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="faxnumber"
                               placeholder="fax number" />
                        <label for="faxnumber" class="">Fax Number</label>
                        <span asp-validation-for="FaxNumber" class="text-danger order"></span>

                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" asp-for="Prescription" placeholder="order details"
                                  id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2" class="">
                            Prescription or Order details
                        </label>
                        <span asp-validation-for="Prescription" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select select-region" asp-for="Refills" id=" floatingSelect" asp-for="Refills" aria-label="Floating label select example">
                            <option selected value="1">Not Required</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <label for="floatingSelect">Number Of Refil</label>
                    </div>
                </div>
            </div>
            <div class="footer mt-5 mb-4 text-end">
                <button type="submit" class="btn bg-info text-white">Submit</button>
                <a asp-action="AdminDashboard" class="btn border border-info text-info">Cancel</a>
            </div>
        </form>
        <br />
        <br />
    </div>
    <br />
    <br />
    <br />

</div>
@section Scripts {
    <script>
        $('.profession').on('change', function (e) {
            var ProfessionId = $(this).val();

            $.ajax({
                url: '/Admin/FilterDataByProfession',
                data: { "ProfessionId": ProfessionId },
                success: function (response) {
                    var business = $('#business');

                    business.empty();
                    business.append($('<option>', {
                        value: "",
                        text: "Business"
                    }))

                    response.business.forEach(function (item) {

                        business.append(
                            $('<option>', {
                                value: item.businessId,
                                text: item.businessName
                            }));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
        $('.Business').on('change', function (e) {
            var businessid = $(this).val();

            $.ajax({
                url: '/Admin/FilterDataByBusiness',
                data: { "BusinessId": businessid },
                success: function (response) {
                    var contact = document.getElementById("contact");
                    var email = document.getElementById("email");
                    var faxnumber = document.getElementById("faxnumber");

                    contact.value = response.business[0].contact;
                    email.value = response.business[0].email;
                    faxnumber.value = response.business[0].faxNumber;
                    $(".order").html("");
                    $("#contact").css('border', '1px solid #ced4da');
                    $("#email").css('border', '1px solid #ced4da');
                    $("#faxnumber").css('border', '1px solid #ced4da');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
    }