

@{
    ViewData["Title"] = "UserAccess";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@using Common.Enum;

<div class="container">
    <div class=" pt-3">
        <h4>User Access</h4>

    </div>
    <div class=" pt-4 shadow Document-content mt-3" style="">
        <div class="d-flex rounded-3 h-100" style="border: 1px solid #ced4da; width:250px;">
            <i class="bi bi-search my-1 ms-1 mr-2"></i>
            <select class="form-select text-secondary border-0" id="accounttype">
                <option value="0" selected>All</option>
                    <option value="1">Admin</option>
                    <option value="2">Physician</option>
            </select>
        </div>

        <div class="table-responsive mt-2" id="tableContent">
        </div>
        <br />
        <br />
    </div>
</div>

<br />
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var accounttype = 0;

    $('#accounttype').on('change', function () {
        accounttype = $(this).val();
        accounttype();
    })
    $(document).ready(function () { 
        $.ajax({
            url: "/Admin/UserAccessData",
            type: "POST",
            data: { "accounttype": accounttype },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function accounttype() {
        $.ajax({
            url: "/Admin/UserAccessData",
            type: "POST",
            data: { "accounttype": accounttype },
            dataType: "html",
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }


</script>