

@{
    ViewData["Title"] = "UserAccess";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@using Common.Enum;

<div class="container">
    <div class=" pt-3">
        <h4>User Access</h4>

    </div>
    <div class=" pt-4 shadow Document-content mt-3" style="">
        <div class="pr-3 mb-4 ps-3">
            <select class="form-select text-secondary py-0" id="requeststatus" aria-label="Floating label select example">
                <option selected disabled value="0">Select AccountType</option>
                @foreach (var item in Enum.GetValues(typeof(AccountType)))
                {
                    <option value="@((int)item)">@item.ToString()</option>
                }
            </select>
        </div>

        <div class="table-responsive mt-2" id="tableContent">
        </div>
        <br />
        <br />
    </div>
</div>

<br />
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    // var accounttype = 0;

    // $('#accounttype').on('change', function () {
    //     accounttype = $(this).val();
    //     accounttype();
    // })
    // $(document).ready(function () {
    //     $.ajax({
    //         url: "/Admin/AccounttypeMenu",
    //         type: "POST",
    //         data: { "region": region },
    //         dataType: "html",
    //         success: function (data) {
    //             $("#tableContent").html(data);
    //         },
    //         error: function (error) {
    //             console.log(error)
    //         }
    //     });
    // });
    // function accounttype() {
    //     $.ajax({
    //         url: "/Admin/AccounttypeMenu",
    //         type: "POST",
    //         data: { "accounttype": accounttype },
    //         dataType: "html",
    //         success: function (data) {
    //             $("#tableContent").html(data);
    //         },
    //         error: function (error) {
    //             console.log(error)
    //         }
    //     });
    // }


</script>