

@{
    ViewData["Title"] = "UserAccess";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}
@using Common.Enum;

<div class="container">
    <div class=" pt-3">
        <h4>User Access</h4>

    </div>      
    <div class=" pt-4 shadow Document-content mt-3" style="">
        <div class="d-flex rounded-3 h-100 ms-3" style="border: 1px solid #ced4da; width:250px;">
            <i class="bi bi-search my-1 ms-1 mr-2"></i>
            <select class="form-select text-secondary border-0" id="accounttype" style="box-shadow:none;">
                <option value="4" selected>All</option>
                    <option value="1">Admin</option>
                    <option value="2">Physician</option>
            </select>
        </div>

        <div class="table-responsive mt-2" id="tableContent">
        </div>
        <br />
        <br />
    </div>
</div>

<br />
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var accounttypes = 4;
    var requestedPage = 1;
    $('#accounttype').on('change', function () {    
        accounttypes = $(this).val();
        console.log(accounttypes);
        AjaxAll();
    })

    function changepage(CurrentPage) {
        requestedPage = CurrentPage;
        AjaxAll();
    }
    $(document).ready(function () { 
        $.ajax({
            url: "/Admin/ShowUserAccess",
            type: "GET",
            data: { "selectedValue": 4, "requestedPage": 1},
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    function AjaxAll() {
        $.ajax({
            url: "/Admin/ShowUserAccess",
            type: "GET",
            data: { "selectedValue": accounttypes, "requestedPage": requestedPage },
            success: function (data) {
                $("#tableContent").html(data);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }


</script>